.wrapper {
  width: 840px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all linear 0.25s;
  transform: translateY(-50%);

  &.active {
    opacity: 1;
    transform: translateY(0%);

    animation: show ease-in 0.25s;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
