.modal {
  width: 600px;
}

.wrapper {
  text-align: center;

  &.success {
    color: var(--success-color);
  }

  &.failed {
    color: var(--failed-color);
  }

  .icon {
    font-size: 10rem;
  }

  .heading {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 0 16px;
  }

  .message {
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 0 16px;
  }

  .btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;

    font-size: 1.6rem;

    background-color: var(--success-color);
    color: var(--text-color);

    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
  }
}
