* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary Color */
  --primary-01-color: #0a092d;
  --primary-02-color: #2e3856;
  --primary-03-color: #1282a2;

  /* Theme Color */
  --black-color: #262626;
  --text-color: #fafafa;
  --background-color: #0a092d;
  --border-color: #aeb2a6;
  --border-hover-color: #fafafa;

  /* Modal */
  --background-modal-color: #ffffff;
  --text-modal-color: #000;

  /* Alert */
  --success-color: #3bb979;
  --failed-color: #fd5765;

  --border-radius: 5px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.6rem;
}

svg {
  vertical-align: middle;
}
